<li>
  <span <%= %q{class='complete'} if todo.complete? -%> >
    <%= link_to h(todo.title), todo -%>
  </span>
  <span><%= todo.tags.map { |tag| link_to tag.name, root_path(:tags => tag.name) }.join(', ') -%></span>
</li>
